<!-- Page Header -->
<header class="masthead" style="background-image: url('https://images.genius.com/349b3ec289f6ca0d119b726b6a88eeef.1000x1000x1.jpg') ">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>MaBlog</h1>
                    <span class="subheading">Welcome!</span>
                </div>
            </div>
        </div>
    </div>
</header>